.option-card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .option-card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  
  .option-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .option-card i {
    color: #007bff;
  }

  .img-container {
    max-height: 150px; /* Ajusta esta altura según tus necesidades */
    overflow: hidden;
  }
  
  .img-fluid {
    max-width: 60%;
    height: auto;
  }